$labelColor: #179dea;
$contentColor: white;
@import "../../styles/_defaultTheme.scss";
.explain-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-x: scroll;
  background-color: $explainPanelBKColor;

  .explain-header {
    display: flex;
    flex-direction: row;
    height: 30px;
    min-height: 30px;
    margin: 10px 10px 0px 10px;

    .explain-label {
      color: $explainLabelColor;
      line-height: 30px;
    }

    .explain-view-switch-button {
      margin-left: auto;
      margin-right: 30px;
      background-color: $explainSwitchBtnColor !important;
      border: 1px solid $explainSwitchBtnBorderColor;
      width: 85px;
      height: 30px;
    }
  }

  .explain-stage-progress {
    display: flex;
    flex-direction: row;

    .explain-stage {
      flex: 1;
      position: relative;
      background: $explainStage1Color;
      max-width: 150px;
      height: 35px;
      line-height: 35px;
      margin-right: 15px;
      text-align: center;
      font-size: x-small;
    }

    .explain-stage:after,
    .explain-stage:before {
      content: " ";
      position: absolute;
      top: 0;
      right: -16px;
      width: 0;
      height: 0;
      border-top: 18px solid transparent;
      border-bottom: 18px solid transparent;
      border-left: 17px solid $explainStage1Color;
      z-index: 2;
      transition: border-color 0.2s ease;
    }

    .explain-stage:before {
      right: auto;
      left: 0;
      border-left: 17px solid $explainPanelBKColor;
      z-index: 0;
    }

    .explain-stage:nth-child(1n+0) {
      background: $explainStage1Color;
    }
    .explain-stage:nth-child(1n+0):after {
      border-left-color: $explainStage1Color;
    }

    .explain-stage:nth-child(2n+0) {
      background: $explainStage2Color;
    }
    .explain-stage:nth-child(2n+0):after {
      border-left-color: $explainStage2Color;
    }

    .explain-stage:nth-child(3n+0) {
      background: $explainStage3Color;
    }
    .explain-stage:nth-child(3n+0):after {
      border-left-color: $explainStage3Color;
    }

    .explain-stage:nth-child(4n+0) {
      background: $explainStage4Color;
    }
    .explain-stage:nth-child(4n+0):after {
      border-left-color: $explainStage4Color;
    }

    .explain-stage:nth-child(5n+0) {
      background: $explainStage5Color;
    }
    .explain-stage:nth-child(5n+0):after {
      border-left-color: $explainStage5Color;
    }
  }

  .explain-stages-table {
    margin-top: 30px;

    .stage-header {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 30px;
      line-height: 30px;
      color: $explainLabelColor;
      .column-header {
        background-color: $explainStageTableHeaderColor;
        flex: 1;
        padding-right: 10px;
        padding-left: 10px;
      }
      .column-header:nth-child(1) {
        flex: 1;
      }
      .column-header:nth-child(2) {
        flex: 2;
      }
      .column-header:nth-child(3) {
        flex: 1;
      }
      .column-header:nth-child(4) {
        flex: 1;
      }
      .column-header:nth-child(5) {
        flex: 1;
      }
      .column-header:nth-child(6) {
        flex: 3;
      }
    }
    .stage-row {
      display: flex;
      flex-direction: row;
      width: 100%;
      min-height: 30px;
      line-height: 30px;

      .stage-cell {
        color: $explainLabelColor;
        padding-right: 10px;
        padding-left: 10px;
        word-break: break-all;
        flex: 1;
      }
      .stage-cell:nth-child(1) {
        flex: 1;
      }
      .stage-cell:nth-child(2) {
        flex: 2;
      }
      .stage-cell:nth-child(3) {
        flex: 1;
        .text {
          width: 50px;
          text-align: right;
        }
      }
      .stage-cell:nth-child(4) {
        flex: 1;
        .text {
          width: 50px;
          text-align: right;
        }
      }
      .stage-cell:nth-child(5) {
        flex: 1;
        .text {
          width: 50px;
          text-align: right;
        }
      }
      .stage-cell:nth-child(6) {
        flex: 3;
      }
    }
    .stage-row:nth-child(odd) {
      background: $explainTableEvenBKColor;
    }
  }
  .explain-statistic-view {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .header {
      background-color: rgb(85, 108, 82);
      height: 30px;
      line-height: 30px;
      display: flex;
      flex-direction: row;
      div {
        flex: 1;
        margin-left: 10px;
        text-align: center;
        color: $explainLabelColor;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .row {
      display: flex;
      flex-direction: row;
      min-height: 30px;
      line-height: 30px;
      div {
        flex: 1;
        margin-left: 10px;
        color: $explainLabelColor;
      }
      div:nth-child(2) {
        text-align: right;
        margin-right: 10px;
      }
    }
    .row:nth-child(odd) {
      background-color: $explainTableEvenBKColor;
    }
  }

  .explain-command-panel {
    //height: 300px;
    //width: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .namespace {
      display: flex;
      flex-direction: row;
      height: 20px;
      .value {
        margin-left: 20px;
        color: $explainLabelColor;
      }
    }
    .codemirror {
    }
    .label {
      color: rgb(22, 160, 187);
    }
  }
}

.explain-tab {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  padding: 0 !important;
}

.explain-tabs {
  display: flex;
  flex: 1;
  order: 2;
  flex-direction: row;
  .pt-tab-list {
    margin: 0;
  }
}

.explain-tab-title-button {
  padding: 0;
}

.explain-json-raw-panel {
  flex: 1;
  overflow-x: auto;
}

.explain-view-panel {
  flex: 1;
  background-color: $explainPanelBKColor;
  margin: 10px;
  overflow-y: auto;
}

.explain-not-visible {
  display: none;
}

.explain-visible {
  display: flex;
}

.explain-command-info {
  display: flex;
  ul li {
    list-style: none;
    margin-bottom: 10px;
  }
  ul {
    float: left;
    padding-left: 10px;

  }
  ul .label {
    color: $labelColor;
  }
}

.explain-output-list-label {
  list-style: none;
  color: $labelColor;
}

.explain-output-list-content {
  list-style: none;
  color: $contentColor;
  width: 100px;
  text-align: right;
}

.explain-output-column-label {
  float: left;
  flex: 1;
}

.explain-output-column-content {
  float: left;
  flex: 2;

}

.explain-stage-button {
  margin-left: 5px;
  margin-top: 5px;
  height: 10px;
}

.explain-stage-detail-popup {
  padding: 0px;
  .pt-popover-content ul:first-child {
    overflow-y: auto;
    height: 300px;
  }
}

.explain-stage-popover {
  flex: 0.8;
}