{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react",
    "es2015-node-auto",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-async-to-generator",
    "transform-object-rest-spread",
    "react-hot-loader/babel",
    "add-module-exports"
  ]
}
