.dbSelectWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;

  span {
    margin-right: 20px;
  }

  select {
  }

  button {
    width: 200px;

    svg.pt-icon {
      margin-left: auto;
    }
  }
}

.collectionSelectWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  span {
    margin-right: 17px;
  }

  select {
  }

  button {
    width: 200px;

    svg.pt-icon {
      margin-left: auto;
    }
  }
}
