// @Author: Wahaj Shamim <wahaj>
// @Date:   2017-05-29T15:22:41+10:00
// @Email:  wahaj@southbanksoftware.com
// @Last modified by:   wahaj
// @Last modified time: 2017-05-30T09:47:28+10:00



@import '../../styles/_defaultTheme.scss';
.profileListPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $panelLeftBackground !important;
  .profileListToolbar {
    background-color: $navbarLeftBackground !important;
    .pt-button {
      background-color: $buttonSecondaryBackground !important;
      color: $buttonSecondaryIcon !important;
      border-radius: 50%;
      margin-left: 5px;
      margin-right: 5px;
      position: relative;
      svg.dbCodaSVG {
        position: absolute;
        top: 50%;
        bottom: 50%;
        width: 50%;
        height: 50%;
        transform: translate(-50%, -50%);
        fill: $buttonSecondaryIcon;
      }
    }
    .pt-button:hover {
      background-color: $buttonSecondaryBackgroundHover !important;
    }
    .pt-button.dangerButton {
      background-color: $buttonDangerBackground !important;
    }
    .pt-button.dangerButton:hover {
      background-color: $buttonDangerBackgroundHover !important;
    }
    .pt-button.pt-disabled:hover {
      background-color: $buttonSecondaryBackground !important;
    }
    .pt-button.pt-disabled.dangerButton:hover {
      background-color: $buttonDangerBackground !important;
    }
  }
  .profileList {
    flex-grow: 1;
    overflow-y: scroll;
  }
  .bp-table-top-container {
    display: none;
  }
  .bp-table-container {
    outline: none;
  }
  .bp-table-cell {
    .bp-table-truncated-text {
      height: 100%;
      display: flex;
      flex-direction: row;
      line-height: 60px;
      svg.dbCodaSVG {
        stroke: $buttonSecondaryIcon;
        stroke-width: 4px;
        width: 3.5em;
        height: 3.5em;
        margin-top: 1.0em;
        margin-right: 1em;
        border-radius: 50%;
        padding: 3px;
        fill: $buttonSecondaryIcon;
      }
      .profileListing {
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal !important;
        letter-spacing: 0px;
        font-size: 15px;
      }
      .profileListing::before {
        margin-right: 10px;
        color: $profileListIconColor;
      }
    }
  }
  .bp-table-cell:hover {
    background-color: $profileListTabHover;
  }
  .connection-profile-cell {
    .profileListing {
      color: $profileListFontColor;
    }
    .closedProfile {
      color: #696869;
      font-style: italic !important;
    }
  }
  .connection-profile-cell-selected {
    background-color: rgba(125, 188, 255, 0.6) !important;
    outline: none !important;
    .profileListing {
      color: #FFF;
    }
    .closedProfile {
      color: $profileListFontColor;
      font-style: italic !important;
    }
  }
}



ul.profileListContextMenu {
  display: flex;
  flex-direction: column;
  div.contextMenuGroup {
    div.menuItemWrapper {
      display: flex;
      flex-direction: row;
      svg.dbCodaSVG {}
      li {}
    }
  }
  div.menuItemWrapper {
    display: flex;
    flex-direction: row;
    svg.dbCodaSVG {}
    li {}
  }
}
