// @Author: Chris Trott <christrott>
// @Date:   2018-04-17T13:32:12+10:00
// @Email:  wahaj@southbanksoftware.com
// @Last modified by:   christrott
// @Last modified time: 2018-04-17T13:38:53+10:00

@import '../../styles/_defaultTheme.scss';

.sideNav {
  height: 100%;
  background-color: $sideNavBackground;

  .menuItem {
    width: 80px;
    height: 80px;

    .pt-popover-wrapper,
    .pt-popover-target {
      width: 100%;
      height: 100%;
    }
    .pt-button {
      width: 100%;
      height: 100%;
      background-image: unset;
      background-color: $sideNavBackground;
      color: $brightFontColor;
      border-radius: 0;
      // opacity: 0.5;
    }
    
    .dbKodaSVG {
        width: 30px;
        height: 30px;
        transform: translate(-50%, -50%);
    }
  }
  .menuItem.selected .pt-button {
    background-image: unset;
    background-color: $sideNavButtonSelected;
  }
  .menuItem:hover .pt-button {
    background-image: unset;
    background-color: $sideNavButtonSelected;
  }
}