// @Author: guiguan
// @Date:   2017-03-07T13:47:00+11:00
// @Last modified by:   guiguan
// @Last modified time: 2017-03-07T17:27:14+11:00

$backgroundPrimaryColor: #2d3c46;
$whiteColor: #f5f8fa;

body {
  background-color: $backgroundPrimaryColor;
}

// h1 {
//   color: $whiteColor;
//   font-size: 40px;
//   margin-top: 4px;
// }
// 
// .middleRow {
//   height: 100%;
//   overflow: hidden;
// }
// 
// .sidePanel {
//   float:left;
//   border: 1px solid black;
//   width: 30%;
//   height: 80%;
// }
// 
// .editorPanel {
//   float: left;
//   border: 1px solid black;
//   width: 70%;
//   height: 80%;
// }
// 
// .outputPanel {
//   height:100%;
//   width:100%;
// }
// 
// .fullHeight {
//   height: 100%;
// }