* {
    font-family: Arial, sans-serif;
}

@font-face {
    font-family: 'Arial';
    src: url('Arial.ttf');
    src: url('Arial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}