* {
  font-family: Arial, sans-serif;  
}

@font-face {
    font-family: 'Arial';
    src: url('Arial Black.ttf');
    src: url('Arial Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
