
.translate-codemirror {
  display: flex;
  flex-direction: column;
  margin-left: 30px;

}

.syntax-selection {
  display: flex;
  flex-direction: row;

  .pt-label {
    align-self: center;
    color: #bfbec0;
    margin-right: 10px;
  }
}

.translator-open .ReactCodeMirror {
  .syntax-selection {
    .nodejs-driver {
      align-self: center;
    }
    .close-btn {
      margin-left: 20px;
      margin-right: auto;
    }
  }
  .CodeMirror-simplescroll-vertical {
    height: 0px;
  }
  .CodeMirror-scroll {
    height: 90%;
  }
}