// @Author: guiguan
// @Date:   2017-03-07T17:09:22+11:00
// @Last modified by:   guiguan
// @Last modified time: 2017-06-07T18:41:15+10:00
@import '../styles/_defaultTheme.scss';
$purpleFont: #b95cce;
// $resizerHoverColor: rgba(97, 114, 126, 0.7);
$resizerHoverColor: rgba($connectionButtonBackgroundColourHover, 0.7);

.Resizer {
  background: rgba(15, 34, 47, 0.2);
  z-index: 20;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:active,
.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:active,
.Resizer.horizontal:hover {
  border-top: 5px solid $resizerHoverColor;
  border-bottom: 5px solid $resizerHoverColor;
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:active,
.Resizer.vertical:hover {
  border-left: 5px solid $resizerHoverColor;
  border-right: 5px solid $resizerHoverColor;
}

Resizer.disabled {
  cursor: not-allowed;
}

Resizer.disabled:hover {
  border-color: transparent;
}

.optInBoldDBCoda {
  color: $purpleFont !important;
}

.horizontal.Pane2 {
  background-color: $panelLeftBackground;
}

.DevTools > div > div:first-child > div {
  opacity: .15;
  transform: rotate(90deg);
  right: -62px !important;
}

.DevTools > div > div:first-child > div:hover {
  opacity: 1;
  transition: opacity 1s ease;
}

ul.profileListContextMenu {
  display: flex;
  flex-direction: column;
  div.contextMenuGroup {
    div.menuItemWrapper {
      display: flex;
      flex-direction: row;
      svg.dbCodaSVG {}
      li {}
    }
  }
  div.menuItemWrapper {
    display: flex;
    flex-direction: row;
    svg.dbCodaSVG {}
    li {}
  }
}

ul.pt-menu {
  display: flex;
  flex-direction: column;
  div.contextMenuGroup {
    div.menuItemWrapper {
      display: flex;
      flex-direction: row;
      svg.dbCodaSVG {}
      li {
        width: 100%;
      }
    }
  }
  div.menuItemWrapper {
    display: flex;
    flex-direction: row;
    svg.dbCodaSVG {
    }
    li {
      width: 100%;
    }
  }
}

div.CodeMirror-activeline {
  background-color: $editorActiveLine;
}
