@import '../../../styles/_defaultTheme.scss';
.tips-field-container {
  display: flex;
  color: $tipsCardFontColor;
  background-color: $profileConfigurationBkColor;
  .tips-title {
    color: $tipsCardFontColor;
  }
  .tips-card-content {
    color: $tipsCardFontColor;
    background-color: rgb(40, 40, 40);
    line-height: 30px;
    height: 100%;
    font-size: large;
    height: 450px;
  }
  .tip-cards-button-panel {
    display: flex;
    flex-direction: row;
    background-color: rgb(47, 46, 48);
    .tips-card-btn {
      width: 50px;
      height: 50px;
      background-color: rgb(47, 46, 48);
      border-width: 1px;
      border-color: gray;
    }
    .tips-card-btn:nth-child(1) {
      border-right-style: solid;
    }
    .tips-card-btn:nth-child(2) {
      margin-left: auto;
      border-left-style: solid;
    }
    .tips-card-btn & .inactive {
      cursor: not-allowed;
    }
  }
}
