// @Author: Wahaj Shamim <wahaj>
// @Date:   2017-05-23T16:26:14+10:00
// @Email:  wahaj@southbanksoftware.com
// @Last modified by:   wahaj
// @Last modified time: 2017-05-26T11:59:32+10:00

@import '../../styles/_defaultTheme.scss';

.details-view {
  font-family: Arial !important;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  background-color: $detailsBackground;
  .details-title {
    text-align: center;
    margin: 35px 0;
    color: $fieldHeadingFontColor;
  }
  .details-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .div-field-container {
      margin: 30px;
    }
    .detailsFieldSet {
      margin: 15px 15px 15px 15px;
      border-style: none;
      background-color: $fieldGroupPrimaryBackground;
    }
    .pt-label-field {
      text-align: left;
      margin: 10px 0 20px 0;
      font-weight: 600;
      font-size: 16px;
      color: $fieldHeadingFontColor;
    }
    .pt-striped {
      tbody tr:nth-child(odd) td {
        background: #222324 !important;
      }
      td, th {
        color: $detailsFontColor !important;
      }
      th {
        padding-left: 5px !important;
      }
    }
    .pt-interactive {
      tbody tr:hover td {
        background-color: #30363B !important;
        cursor: pointer;
      }
    }
  }
  .form-button-panel {
    float: right;
    margin: 20px;
    button {
      background: none;
      border-radius: 0px;
    }
    button:focus {
      outline: none;
    }
    .pt-intent-success {
      background-color: $fieldPrimaryButtonBackground;
      color: $fieldPrimaryButtonFontColor;
    }
    .pt-intent-success:hover {
      background-color: $fieldPrimaryButtonHover;
    }
    .pt-intent-success:active {
      background-color: $fieldPrimaryButtonActive;
    }
    .pt-intent-primary {
      background-color: $fieldSecondaryButtonBackground;
      color: $fieldSecondaryButtonFontColor;
    }
    .pt-intent-primary:hover {
      background-color: $fieldSecondaryButtonHover;
    }
    .pt-intent-primary:active {
      background-color: $fieldSecondaryButtonActive;
    }
  }

  .recharts-bar-cursor {
    fill: $chartItemHover !important;
  }
  .recharts-default-tooltip {
    background-color: $chartTooltipBackground !important;
  }
  .recharts-tooltip-label {
    color: $fieldBrightFontColor !important;
  }
  .recharts-legend-item-text {
    color: $detailsFontColor !important;
  }
  .recharts-pie-label-line {
    stroke-width: 1;
  }
}
