// @Author: Wahaj Shamim <wahaj>
// @Date:   2017-03-14T16:09:51+11:00
// @Email:  wahaj@southbanksoftware.com
// @Last modified by:   wahaj
// @Last modified time: 2017-04-21T11:51:19+10:00



.form-group-inline {
  display: inline-block !important;
  width: 45%;
}

.pt-label-r-30 {
  width: 30%;
  text-align: right;
}

.pt-input-90 {
  width: 90%
}

.right-button {
  float: right;
  margin: 10px;
}

.transparent-btn {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.tooltip-btn {
  z-index: 9999;
}
