// @Author: Wahaj Shamim <wahaj>
// @Date:   2017-03-14T16:09:51+11:00
// @Email:  wahaj@southbanksoftware.com
// @Last modified by:   wahaj
// @Last modified time: 2017-05-22T12:45:53+10:00
@import '../../styles/_defaultTheme.scss';


.dynamic-form {
  div > form {
    margin: 30px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .form-title {
    text-align: center;
    margin: 35px 0;
    color: $fieldHeadingFontColor;
  }

  .form-group-inline {
    display: inline-block !important;
    vertical-align: top;
    width: 45%;
  }

  .pt-form-content {
    width: 70%;

    .pt-input, .pt-select {
      width: 100%;
      min-width: 200px;
      border-radius: 0px;
      border-style: none;
      box-shadow: none;
      background-color: $fieldBrightBackgroundColor !important;
      color: $fieldBrightFontColor !important;
    }

    .pt-numeric-input {
      .pt-input-group {
        width: calc(100% - 30px);
      }
      .pt-button-group {
        .pt-icon-chevron-up, .pt-icon-chevron-down{
          border-radius: 0px !important;
        }
      }
      .pt-input {
        min-width: 170px;
        width: 100%;
      }
    }

    .pt-popover-target {
      width: 100%;
    }

    .pt-checkbox {
      width: 70%;
      margin-left: 30%;
      color: $fieldHeadingFontColor;
      .pt-control-indicator {
        width: 16px;
      }
    }
  }
  .groupFieldSet {
    margin: 0px -15px 15px -15px;
    border-style: none;
    background-color: $fieldGroupPrimaryBackground;
    .pt-form-group {
      margin: 0px 5px 15px 5px;
    }
  }

  .tableFieldSet {
    // margin: 0 -15px 15px -15px;
    border-style: none;
    background-color: $fieldGroupPrimaryBackground;

    .pt-form-content {
      width: 100%;
      margin: 2px;

      .pt-input, .pt-select, .pt-numeric-input {
        width: 100%;
        min-width: 100px;
      }

      .pt-popover-target {
        width: 90%;
      }
    }
    .scrollableDiv {
      max-height: 228px;
      overflow: auto;
    }
  }
  .form-button-panel {
    button {
      background: none;
      border-radius: 0px;
    }
    button:focus {
      outline: none;
    }
    .pt-intent-success {
      background-color: $fieldPrimaryButtonBackground;
      color: $fieldPrimaryButtonFontColor;
    }
    .pt-intent-success:hover {
      background-color: $fieldPrimaryButtonHover;
    }
    .pt-intent-success:active {
      background-color: $fieldPrimaryButtonActive;
    }
    .pt-intent-primary {
      background-color: $fieldSecondaryButtonBackground;
      color: $fieldSecondaryButtonFontColor;
    }
    .pt-intent-primary:hover {
      background-color: $fieldSecondaryButtonHover;
    }
    .pt-intent-primary:active {
      background-color: $fieldSecondaryButtonActive;
    }
  }

  .pt-label-r-30 {
    width: 30%;
    text-align: left;
    color: $fieldHeadingFontColor !important;
  }

  .pt-select select{
    height: 30px;
    width: 100%;
    border-radius: 0px;
    border-style: none;
    background-color: $fieldBrightBackgroundColor !important;
    color: $fieldBrightFontColor !important;
  }

  .pt-checkbox-form {
    width: 72%;
  }

  .table-field-100 {
    width: 100% !important;
  }

  .table-field-90 {
    width: 90% !important;
  }

  .table-field-80 {
    width: 80% !important;
  }

  .right-button {
    float: right;
    margin: 10px;
  }

  .transparent-btn {
    background-color: transparent;
    box-shadow: none;
    border: none;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .tooltip-btn {
    z-index: 9999;
  }

  .pt-tooltip-indicator-form {
      border-bottom: none !important;
      vertical-align: middle !important;
  }

  .pt-form-content-reverse {
      display: flex;
      width: 100%;
      flex-direction: row-reverse;
  }
  .Select-control {
    height: 30px;
    border: none;
    background-color: $fieldBrightBackgroundColor;
    color: $fieldBrightFontColor;
    border-radius: 0px;
  }
  .Select-menu-outer {
    z-index: 999 !important;
  }
  .Select-placeholder,
  .Select--single > .Select-control .Select-value {
    line-height: 30px;
  }
  .Select-input {
    height: 30px;
    border-radius: 0px;
  }
}
