// @Author: Wahaj Shamim <wahaj>
// @Date:   2017-04-10T10:37:14+10:00
// @Email:  wahaj@southbanksoftware.com
// @Last modified by:   wahaj
// @Last modified time: 2017-05-09T13:53:51+10:00

.pt-label-r{
  text-align: right;
}

.field-inline {
  display: inline-block !important;
  margin: 0 5px 0 5px;
}

.zero-margin {
  margin: 0 !important;
}

.width-100-pr {
  width: 100%;
}

.pt-form-helper-text {
  color: red !important;
}

.pt-control {
  margin-top: 5px;
}

.profile-form {
  margin: 35px;
  display: flex;
  flex-direction: column;
}

.profile-title, .form-title {
  text-align: center;
  margin: 35px 0;
}

.profile-separator {
  height: 1px;
  background-color: gray;
  width: 100%;
  margin: 0 0 20px 0;
}

.profile-button-panel, .form-button-panel {
  display: flex;
  flex-direction: row;

  button{
    margin-left: 10px;
  }
}

.profile-error-input {
  margin: 10px;
}

.alias-label, .database-label, username-label, password-label {
  min-width: 70px;
}

.url-label, .host-label {
  min-width: 44px;
}

.port-label {
  width: 28px;
}

.alias-input-content, .alias-input-content .pt-form-content, .alias-input,
.url-input-content, .url-input-content .pt-form-content, .url-input,
.host-input-content, .host-input-content .pt-form-content, .host-input,
.database-input-content, .database-input-content .pt-form-content, .database-input
 {
  width: 100%;
}

.port-input {
  width: 80px;
}
