.outputToolbar {
  order: 1;
}

.outputTabView {
  order: 2;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.outputEditor {
  order: 3;
  flex: 1;
  min-height: 0;
}

.outputTerminal {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.outputPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.CodeMirror,
.ReactCodeMirror {
  height: 100%;
}
