// @Author: chris
// @Date:   2017-03-22T12:00:54+11:00
// @Email:  chris@southbanksoftware.com
// @Last modified by:   chris
// @Last modified time: 2017-03-22T17:17:54+11:00
//NavBars:
$navbarRightBackground: #494849;
$navbarRighHeading: #BFBEC0;
$navbar-secondary-background: #323232;
$navbar-left-background: #212E33;
$navbar-left-heading: #BFBEC0;
$panel-left-background: #2D3D46;


.outputToolbar {
  order: 1;
  background-color: $navbarRightBackground !important;
}

.outputTabView {
  order: 2;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.outputEditor {
  order: 3;
  flex: 1;
  min-height: 0;
  padding-bottom: 30px;
}

.outputTerminal {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;

  order: 4;
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 30px;
}

.outputCmdLine {
  flex: 1;
  order: 1;
}

.executeCmdBtn {
  flex: initial;
  order: 2;
  width: 50px;
}

.outputPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: scroll; 
}

.CodeMirror,
.ReactCodeMirror {
  height: 100%;
}
