@import './styles.scss';
@import './styles.scss';

.profile-config-database-list {
  // border-right: 1px solid #4a4f70;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;

  .profile-db-list-title {
    color: $fontColor;
    font-weight: $titleFontWeight;
    font-size: $titleFontSize;
    text-align: right;
  }
  .profile-db-list {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    .db-item {
      margin: 10px 0px;
      font-size: $fontSize;
    }
  }
  .profile-database {
    display: flex;
    flex-direction: row;
    align-items: center;
    .hide {
      opacity: 0;
    }
  }
  .full-circle {
    color: #87a986;
    margin: 5px;
    width: 16px;
    height: 16px;
  }
  .db-profile-indicator {
    color: $fontColor;
    line-height: 16px;
    margin-top: 20px;
    span {
      height: 25px;
      line-height: 25px;
    }
  }
}
