.profile-config-database-list {
    // border-right: 1px solid #4a4f70;
    .profile-db-list-title {
        color: #bfbec0;
        font-weight: bolder;
        font-size: larger;
        text-align: right;
    }
}