$fontColor: #bfbec0;
.profile-config-title {
    color: $fontColor;
    font-weight: bolder;
    margin-left: 50px;
    font-size: larger;
    text-align: right;
}

.profile-config-buttons {
  
    font-weight: lighter;
    font-size: small;
    color: #bfbec0;
}