@import '../../../styles/_defaultTheme.scss';
$fontColor: #bfbec0;
$fontSize: large;
$titleFontWeight: normal;
$titleFontSize: x-large;
.profile-config-panel {
  height: 100vh !important;
  background-color: $profileConfigurationBkColor !important;
}

.profile-config-title {
  color: $fontColor;
  font-weight: $titleFontWeight;
  font-size: $titleFontSize;
  margin-left: 50px;
}

.profile-config-buttons {
  font-weight: lighter;
  font-size: small;
  color: #bfbec0;
  display: flex;
  margin-left: auto;
  .pt-popover-wrapper:nth-child(1) {
    margin-left: auto;
  }
}

.profile-config-db-detail {
  border-right-style: solid;
  border-color: gray;
  border-width: 1px;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  padding: 0px 20px;
}
