$fontColor: #bfbec0;

.profile-config-panel {
  height: 100vh !important;
  background-color: #202020 !important;
}

.profile-config-title {
    color: $fontColor;
    font-weight: bolder;
    font-size: larger;
    margin-left: 50px;
}

.profile-config-buttons {
    font-weight: lighter;
    font-size: small;
    color: #bfbec0;
    display: flex;
    margin-left: auto;

    .pt-popover-wrapper:nth-child(1) {
      margin-left: auto;
    }
}