/**
 * @Author: mike
 * @Date:   2017-03-28 16:04:27
 * @Last modified by:   mike
 * @Last modified time: 2017-04-21 17:08:04
 */
// Theme 1 Colours: These should be externalized eventually:
//Editor:
$editorBackground: #202020;
$editorActiveLine: #303030;
$editorTextComments: #8B8B8B;
//NavBars:
$navbarRightBackground: #494849;
$navbarRighHeading: #BFBEC0;
$navbar-secondary-background: #323232;
$navbar-left-background: #212E33;
$navbar-left-heading: #BFBEC0;
$panel-left-background: #2D3D46;
//Buttons:
$buttonPrimaryBackground: #BFBEC0;
$buttonPrimaryBackgroundHover: #99979b;
$buttonPrimaryIcon: #58595B;
$buttonSecondaryBackground: #2D3D46;
$buttonSecondaryIcon: #BFBEC0;
$buttonTertiaryBackground: #202020;
$buttonTertiaryIcon: #BFBEC0;
$buttonDangerBackground: #8A4148;
$buttonDangerIcon: #BFBEC0;
$selectPrimaryBackground: #313131;
$searchPrimaryBackground: #BFBEc0;
$searchPrimaryFontColor: #494849;
$searchSecondaryBackground: #202020;
$searchSecondaryFontColor: #222222;


$backgroundPrimaryColor: #2d3d46;
$backgroundPrimaryColor: #2d3d46;
$tabPrimaryColor: #3d3d3d;
$tabStrokeColor: #d1ccc8;
$brightBlueFont: #179dea;
$blueDarkest: #0e5a8a;
$selectGray: #8a9ba8;
$whiteColor: #f5f8fa;
$blackColor: #000000;
$white: #ffffff;
$brightBlueFont: #179dea;
$greyBlueFont: #8dacbc;
$purpleFont: #b95cce;
$brightRedFont: #db3737;
$darkRedFont: #9b4d4d;
$matchingBackground: #6b6b6b;
$backgroundPrimaryColor: #2d3c46;
$backgroundSecondaryColor: #394b59;
$tabPrimaryColor: #3d3d3d;
$tabStrokeColor: #d1ccc8;
$blueDarkest: #0e5a8a;
$selectGray: #8a9ba8;
$whiteColor: #f5f8fa;
$blackColor: #000000;
$propFontColor: #aac6e3;
$stringFontColor: #4caf50;

$downArrow: "\25BE";
$rightArrow: "\25B8";

div.CodeMirror span.CodeMirror-matchingbracket{
  color: $white !important;
  border: 1px solid $selectGray;
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: $brightRedFont !important;
  border: 1px solid $brightRedFont;
}

span.cm-property {
  color: $propFontColor !important;
}

span.cm-string {
  color: $stringFontColor !important;
}

.notVisible {
  display:  none;
}

.editorToolbar {
  background-color: $navbarRightBackground !important;
}

.editorPanel, .profileListPanel, .welcomePanel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editorTabView, .welcomePanel {
  flex-direction: column;
  flex: 1;
  display: flex;
}

.editorView {
  flex: 1;
}

iframe {
  flex: 1;
}

.CodeMirror,
.ReactCodeMirror {
  height: 100%;
}

.cm-s-ambiance .CodeMirror-linenumber {
  color: $whiteColor;
}

.CodeMirror-linebackground {
  background-color: $editorBackground !important;
}


//////////////\ -------------------- \///////////////
//////////////\ Syntax Highlighting \///////////////
span.cm-mongo-operator {
  color: $white !important;
}
span.cm-db {
  color: $purpleFont !important;
}
span.cm-show {
  color: $brightBlueFont !important;
}
span.cm-dbs {
  color: $purpleFont !important;
}
span.cm-use {
  color: $brightBlueFont !important;
}
span.cm-collections {
  color: $purpleFont !important;
}
span.cm-users {
  color: $purpleFont !important;
}
span.cm-roles {
  color: $purpleFont !important;
}
span.cm-profile{
  color: $purpleFont !important;
}
span.cm-databases {
  color: $purpleFont !important;
}
span.cm-it{
  color: $brightBlueFont !important;
}
span.cm-dbenvy-prompt{
  color: $selectGray !important;
}
span.cm-mongos-prompt{
  color: $selectGray !important;
}

.CodeMirror-gutters {
  background-color: $editorBackground !important;
  border-right: 1px solid $editorBackground !important;
  box-shadow: none !important;
}

.CodeMirror-gutter {
  background-color: $editorBackground !important;
}
.CodeMirror-foldmarker {
  color: $purpleFont;
  font-family: arial;
  line-height: .3;
  cursor: pointer;
}

.CodeMirror-foldgutter {
  width: .7em;
}
.cm-s-ambiance .CodeMirror-guttermarker-subtle {
  color: $white !important;
  cursor: pointer;
}

.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  color: #555;
  cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
  content: $downArrow;
}
.CodeMirror-foldgutter-folded:after {
  content: $rightArrow;
}
.CodeMirror-activeline-background {
  background-color: $editorActiveLine !important; 
}
.CodeMirror-activeline-gutter {
 background-color: $editorBackground;
}
.pt-dark pre {
  box-shadow: none !important;
}


a.pt-intent-primary {
  background-color: $buttonPrimaryBackground !important;
  color: $buttonPrimaryIcon !important;
}
a.pt-intent-primary:hover {
  background-color: $buttonPrimaryBackgroundHover !important;
  color: $buttonPrimaryIcon !important;
}
a.pt-disabled.pt-intent-primary {
  background-color:rgba(255, 255, 255, 0.3) !important;
}
select.pt-intent-primary {
  background-color: $selectPrimaryBackground !important;
  color: $buttonPrimaryBackground !important;
}

input.pt-input, textarea {
  background-color: $searchPrimaryBackground !important;
  color: $searchPrimaryFontColor !important;
}

input.pt-input.secondaryInput, textArea {
  background-color: $searchSecondaryBackground !important;
  color: $searchSecondaryFontColor !important;
}

.pt-icon-search {
  color: $buttonPrimaryIcon !important;
}

::-webkit-input-placeholder {
  color: $searchPrimaryFontColor !important;
}


.lint-error-icon {
  color: $brightRedFont;
  font-style: oblique;
  font-size: 20px;
  float: right;
} 
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid $brightRedFont;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size:12px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

//////////////\ Syntax Highlighting \///////////////
//////////////\ -------------------- \///////////////