.backup-restore-panel .form-button-panel {
  //position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #272a3a;

  .pt-intent-success {
    background-color: #24a26e !important;
  }

  .pt-intent-primary {
    background-color: #8a4148 !important;
  }

  .right-button {
    float: right;
    margin: 10px;
  }
}
