.database-export-panel .form-title {
  text-align: center;
  margin: 35px 0;
  color: #bfbec0;
}

.database-export-panel {
  margin: 30px;

  .browse-directory {
    margin-left: 10px;
  }

  .path-input {
    width: 70%;
  }
}

.form-scrollable {
  overflow-y: auto;
}

.database-export-panel .pt-form-group .database {
  color: #bfbec0 !important;
  margin-top: 10px;
}

.database-export-panel .options-panel {
}

.database-export-panel .options-panel .option-item-row {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.database-export-panel {
  .warning {
    color: red;
  }
  .hide {
    display: none;
  }
}
