
.database-export-panel .form-title {
  text-align: center;
  margin: 35px 0;
  color: #BFBEC0;
}

.database-export-panel{
  margin: 30px;

}

.database-export-panel .pt-form-group .database {
  color: #BFBEC0 !important;
}

.database-export-panel .options-panel {
}

.database-export-panel .options-panel .option-item-row {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}