
.option-item-row {
  .label {
    font-size: 10pt;
    font-weight: lighter;
    color: #BFBEC0 !important;
    text-align: left;
    margin: 0 10px 0 0;
    display: inline-block;
  }
}

.options-panel {
  overflow-y: auto;
  .separator {
    font-size: 13pt;
    color: #BFBEC0 !important;
    text-align: left;
    margin-bottom: 5px;
  }
  .field-label {
    font-size: 10pt;
    font-weight: lighter;
    color: #BFBEC0 !important;
    margin-right: 10px;
    width: 150px;
    height: 30px;
    line-height: 30px;
  }
  .pt-form-group {
    .option-form {
      display: flex;
      flex-direction: row;
    }
  }
  .number-input .pt-input-group input {
    padding-right: 10px !important;
  }
  .pt-transition-container {
    width: 100% !important;
  }
  //.pt-popover-content {
  //  white-space: pre-wrap;
  //  width: 100%;
  //}
}
