.option-item-row {
  .label {
    font-size: 10pt;
    font-weight: lighter;
    color: #bfbec0 !important;
    text-align: left;
    margin: 0 10px 0 0;
    display: inline-block;
  }
}

.options-panel {
  overflow-y: auto;
  padding-top: 20px;
  .separator {
    font-size: 13pt;
    color: #bfbec0 !important;
    text-align: left;
    margin-bottom: 5px;
  }
  .field-label {
    font-size: 10pt;
    font-weight: lighter;
    color: #bfbec0 !important;
    margin-right: 10px;
    width: 150px;
    height: 30px;
    line-height: 30px;
  }
  .pt-form-group {
    .option-form {
      display: flex;
      flex-direction: row;
    }
  }
  input {
    width: 100%;
  }
  .number-input {
    .pt-input-group {
      width: calc(100% - 30px) !important;
      input {
        padding-left: 10px;
      }
    }
  }
  .pt-transition-container {
    width: 100% !important;
  }
  .parameter-tooltip .pt-tooltip {
    white-space: pre-line;
  }
}
