.performance-storage {
  height: 100vh;
  color: #bfbec0;
  background-color: #202020;
  .title {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    width: 100%;
    // background-color: #474747;
    font-size: large;
  }
  .StorageSunburstView {
    height: 100vh;
  }
}
