@import '../../../styles/_defaultTheme.scss';
.checkbox-form {
  // margin-top: 10px;
  font-size: 10pt;
  font-weight: lighter;
  color: $connectionHeadingsFontColour !important;
  text-align: left;
  .pt-control-indicator {
    font-size: unset !important;
    font-weight: unset !important;
    font-style: unset !important;
    box-shadow: unset !important;
    line-height: unset !important;
    background: unset !important;
    box-shadow: unset !important;
    font-size: 11pt !important;
    color: $connectionCheckboxColour !important;
    border-radius: 0 !important;
    background-color: $connectionCheckboxBackgroundColour !important; // outline: $connectionCheckboxColour solid 1px;
    border: 1px solid $connectionCheckboxColour !important;
  }
  .pt-control-indicator:hover {
    background-color: $connectionCheckboxBackgroundColourHover;
  }
}
