@import '../styles.scss';
.db-profiling-detailed-panel {
  display: flex;
  flex-direction: column;
  .profiling-label {
    color: $fontColor;
    margin: 20px 0px;
    font-size: $fontSize;
  }
  .profile-all {
    width: 20%;
  }
  .profiling-title {
    font-weight: $titleFontWeight;
    font-size: $titleFontSize;
    margin: 0;
  }
  .exceeding-limit-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    .operation-exceeds {
      width: 350px;
    }
    .collection-size {
      width: 350px;
    }
    .profile-size-warning {
      margin-top: 0px;
    }
    .pt-numeric-input {
      flex: 1.5;
      height: 30px;
      margin: auto;
      .pt-input-group {
        width: 70%;
      }
    }
    .size-limit {
      .pt-input-group {
        width: 73%;
      }
    }
  }
  .button-group {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    .profile-button {
      width: 100px;
      height: 40px;
      border-radius: 5px;
      margin: 10px;
      border: none;
      color: white;
      cursor: pointer;
    }
    .profile-button-cancel {
      background-color: rgb(185, 95, 92);
    }
    .profile-button-apply {
      background-color: rgb(135, 169, 134);
    }
  }
}
