// @Author: Wahaj Shamim <wahaj>
// @Date:   2017-03-14T16:09:51+11:00
// @Email:  wahaj@southbanksoftware.com
// @Last modified by:   wahaj
// @Last modified time: 2017-05-16T11:03:22+10:00
@import '../../styles/_defaultTheme.scss';
.treeToolbar {
  background-color: $navbarLeftBackground !important;
}

.sb-tree-view {
  overflow: auto !important;
  height: calc(100% - 50px);
  background-color: $panelLeftBackground;
}

.treeToolbar {
  overflow-x: scroll;
  background-color: $navbarLeftBackground !important;
  .pt-button {
    background-color: $buttonSecondaryBackground !important;
    color: $buttonSecondaryIcon !important;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
  }
  .pt-button:hover {
    background-color: $buttonSecondaryBackgroundHover !important;
  }
  .pt-button.dangerButton {
    background-color: $buttonDangerBackground !important;
  }
  .pt-button.dangerButton:hover {
    background-color: $buttonDangerBackgroundHover !important;
  }
  .pt-button.pt-disabled:hover {
    background-color: $buttonSecondaryBackground !important;
  }
  .pt-button.pt-disabled.dangerButton:hover {
    background-color: $buttonDangerBackground !important;
  }
}

ul.pt-tree-node-list {
  color: $profileListFontColor;
  li.pt-tree-node {
    div.pt-tree-node-content {
      span.pt-tree-node-caret {
        order: 1;
      }
      span.pt-tree-node-label {
        order: 3;
      }
      span.pt-tree-node-secondary-label {
        order: 2;
        padding-top: 5px;
        svg {
          fill: $profileListFontColor;
          width: 20px;
          height: 20px;
        }
      }
    }
    div.pt-tree-node-content-0 {
      letter-spacing: 1px;
      height: 60px;
      border-top: 1px solid $profileListDividerColor;
      span.pt-tree-node-caret {
        order: 1;
      }
      span.pt-tree-node-label {
        font-size: 15pt;
        order: 3;
      }
      span.pt-tree-node-secondary-label {
        order: 2;
        padding-top: 5px;
        svg {
          stroke: $profileListFontColor;
          stroke-width: 6px;
          margin-right: 10px;
          margin-top: 13px;
          margin-bottom: 13px;
          fill: $profileListFontColor;
          width: 2.5em;
          height: 2.5em;
        }
      }
    }
  }
}

.tree-msg-div span {
  color: white;
  padding: 10px 5px;
  display: block;
  text-align: center;
  border: white;
  border-style: solid;
  position: absolute;
  top: 40%;
  left: 20%;
  right: 20%;
}

div.pt-navbar-heading {
  color: $navbarLeftHeading;
}